.clients-caption {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 15px;
}

.clients-caption h3 {
    display: inline-block;
    line-height: 1;
    padding-right: 15px;
    margin-bottom: 0;
}

.clients-caption hr {
    flex: 1;
    margin-top: 2px;
}

.clients-caption .btn {
    width: 40px;
    height: 37px;
    padding: 10px 0 7px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    background: rgb(152, 163, 163);
    box-shadow: 0 3px 0 rgb(127, 140, 140);
}

.btn:hover {
    background-color: rgb(232, 100, 90);
    box-shadow: 0 3px 0 rgb(226, 83, 75);
}

.clients-caption .btn * {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.clients-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto 25px;
}

.client {
    flex: 1;
    max-width: 170px;
    margin: 0 15px 25px;
}

.client img {
    display: block;
    width: 100%;
    height: auto;
}