hr {
    position: relative;
    border: 0;
    height: 1px;
    background-color: rgb(225, 226, 226);
}

hr:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -4px;
    width: 7px;
    height: 7px;
    background-color: rgb(225, 226, 226);
    border-radius: 3px;
}

aside {
    flex: 1;
    margin: 0 15px 60px;
}

.navbar-brand a {
    font-size: 25px;
    text-decoration: none;
    text-transform: lowercase;
    transition: all .3s;
}

.navbar-brand a strong {
    line-height: 1;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all .3s;
}

.navbar-brand a:hover,
.navbar-brand a:hover strong {
    color: rgb(226, 83, 75);
}

.btn {
    width: 200px;
    height: 50px;
    display: inline-block;
    line-height: 1;
    padding: 18px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: lowercase;
    background: rgb(118, 202, 202);
    border-radius: 3px;
    box-shadow: 0 4px 0 rgb(98, 189, 189);
    transition: all .3s;
}

.btn:hover {
    background-color: rgb(232, 100, 90);
    box-shadow: 0 4px 0 rgb(226, 83, 75);
    text-decoration: none;
}