.btn {
    width: 200px;
    height: 50px;
    display: inline-block;
    line-height: 1;
    padding: 18px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: lowercase;
    background: rgb(118, 202, 202);
    border-radius: 3px;
    box-shadow: 0 4px 0 rgb(98, 189, 189);
    transition: all .3s;
}

.btn:hover {
    background-color: rgb(232, 100, 90);
    box-shadow: 0 4px 0 rgb(226, 83, 75);
}