.footer_navigation *,
.footer_social-networks * {
    color: rgb(255, 255, 255);
}

.footer_navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_navigation-text {
    flex: 2;
    margin: 0 15px;
}

.footer_navigation .navbar-brand {
    margin-bottom: 30px;
}

.footer_navigation-text p {
    line-height: 1.8;
}

.footer_navigation-text address p {
    padding-bottom: 0;
}

.footer_navigation-text .address-label {
    display: inline-block;
    width: 70px;
}

.footer_navigation-text .tel a,
.footer_navigation-text .email a {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    text-decoration: none;
}

.footer_navigation-nav {
    flex: 1;
    margin: 0 15px;
}

.footer_navigation-nav h4 {
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, .5);
    margin: 10px 0 30px 0;
}

.footer_navigation-nav ul {
    margin-left: 25px;
}

.footer_navigation-nav li {
    list-style: none;
}

.footer_navigation-nav li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

.footer_navigation-nav a {
    line-height: 1.8;
    text-decoration: none;
}

.footer_navigation-blog h4 {
    line-height: 1;
    font-size: 20px;
    font-style: italic;
    text-transform: lowercase;
    margin: 10px 0 30px 0;
}

.footer_navigation-blog h4 strong {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer_navigation-blog a {
    display: block;
    position: relative;
    padding-left: 90px;
    margin-bottom: 20px;
    text-decoration: none;
    min-height: 70px;
}

.footer_navigation-blog a:last-child {
    margin-bottom: 0;
}

.footer_navigation-blog a p {
    line-height: 1.5;
    padding-bottom: 0;
    transition: all .3s;
}

.footer_navigation-blog a:hover p {
    color: rgb(225, 82, 75);
}

.footer_navigation-blog a img {
    position: absolute;
    left: 0;
    top: 3px;
    width: 70px;
    max-width: 100%;
    height: auto;
    display: block;
}

.footer_navigation-blog time {
    color: rgba(0, 0, 0, .5);
}

.copyright {
    float: left;
    line-height: 1;
    margin: 19px 15px;
    font-size: 12px;
}

.social-networks {
    display: block;
    float: right;
}

.social-networks li {
    display: block;
    float: left;
}

.social-networks li a {
    display: block;
    line-height: 1;
    margin: 14px 15px;
    font-size: 22px;
    text-decoration: none;
}

.social-networks li a i {
    transition: all .3s;
}

.social-networks li a:hover i {
    color: rgb(226, 83, 75);
}

.social-networks li:before {
    content: none;
}