header * {
    color: rgb(255, 255, 255);
}

.navbar .navbar-brand a {
    display: block;
    float: left;
    margin: 25px 15px;
}

.navbar ul {
    display: block;
    float: right;
}

.navbar li {
    display: block;
    float: left;
}

.navbar li:before {
    content: none;
}

.navbar li a {
    display: block;
    line-height: 1;
    margin: 25px 15px;
    padding: 10px 13px 7px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s, background-color .3s, box-shadow .3s;
}

.navbar li.active a {
    background-color: rgb(98, 162, 158);
    border-radius: 3px;
    box-shadow: 0 3px 0 rgb(82, 139, 134);
}

.navbar li a:hover,
.navbar li.active a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(232, 100, 90);
    border-radius: 3px;
    box-shadow: 0 3px 0 rgb(226, 83, 75);
}

.navbar .search {
    background: none;
    line-height: 1;
    margin: 25px 15px;
    padding: 7px 0 7px 13px;
    font-size: 16px;
}

.navbar .search i {
    transition: color .3s;
}

.navbar .search:focus {
    outline: 0;
}

.navbar .search:hover i {
    color: rgb(226, 83, 75);
}