/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
    padding-top: 80px;
    background-color: rgb(243, 243, 243);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(118, 199, 192);
    -webkit-transform: translateZ(0);
    z-index: 999;
}

.slider {
    padding-bottom: 50px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.company {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Adaptive layouting with flexbox*/
.company-year-statistics-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    width: 576px; /* 552px width from mockup + 12px min margin for first & last child inside*/
    margin: 0 12px 30px;
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 50px auto;
}

.footer_navigation {
    padding: 45px 0;
    background-color: rgb(118, 199, 192);
}

.footer_social-networks {
    height: 50px;
    background-color: rgb(106, 179, 172);
}

@media only screen and (max-width: 767px) {
    /*
        For mobile layouts
     */
}