body {
    padding-top: 80px;
    background-color: rgb(243, 243, 243);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgb(118, 199, 192);
    -webkit-transform: translateZ(0);
    z-index: 999;
}

.slider {
    padding-bottom: 50px;
}

.services {
    max-width: 1200px;
    margin: 0 auto;
}

.company {
    padding-top: 70px;
    background-image: linear-gradient(#ececec 400px, transparent 400px);
}

.company-wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.clients {
    max-width: 1200px;
    margin: 0 auto;
}

.footer_navigation {
    padding-top: 45px;
    background-color: rgb(118, 199, 192);
}

.footer_navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer_social-networks {
    height: 50px;
    background-color: rgb(106, 179, 172);
    overflow: hidden;
}