/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

body {
    height: 1000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(99, 193, 184, 0.5);
    -webkit-transform: translateZ(0);
    z-index: 999;
}

.header-fix {
    position: relative;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(99, 193, 184);
}

.content {
    height: 1000px;
}

/* Adaptive layouting with flexbox*/
.company-year-statistics-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 580px; /* 560px width from mockup + 10px min margin for first & last child inside*/
    margin: 40px auto;
}

/* Adaptive layouting with blocks*/
/*.company-year-statistics-overview {*/
    /*width: 100%;*/
    /*max-width: 580px;*/
    /*margin: 40px auto;*/
/*}*/

/*.company-year-statistics-overview:before,*/
/*.company-year-statistics-overview:after {*/
    /*content: " ";*/
    /*display: table;*/
/*}*/

/*.company-year-statistics-overview:after {*/
    /*clear: both;*/
/*}*/

/*.company-year-statistics-overview > .statistics-overview {*/
    /*float: left;*/
/*}*/

footer {
    width: 100%;
}

.footer_navigation {
    padding: 35px 0;
    background-color: rgb(99, 193, 184);
}

.footer_social-networks {
    padding: 10px;
    background-color: rgb(82, 164, 155);
}

@media only screen and (max-width: 767px) {
    /*
        For mobile layouts
     */
}
