/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

* {
	font: normal 400 14px/1.2 Open Sans, Sans-Serif;
}

h3 {
	font: normal 700 18px Open Sans Bold, Sans-Serif;
}

/*
!!!------------------------------------HEADER------------------------------------!!!
*/

header {
    position: relative;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	top: 0;
    left: 0;
    right: 0;
    min-height: 80px;
	background-color: #76c7c0;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: flex-end;
    width: 100%;
	max-width: 1170px;
    margin: 0 auto;
	padding: 0px 9px;
	color: white;
}

.top-bar-logo {
	font-size: 20px;
	color: white;
	font-weight: 400;
	text-transform: lowercase;
	float: left;
	margin: 1% 1%;
}

.top-bar-logo span {
	text-transform: uppercase;
	font: normal 800 30px/1.2 Open Sans Bold, Sans-Serif;
	color: inherit;
}

.top-bar-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: flex-end;
    width: 100%;
	max-width: 780px;
    margin: 8px 14px;
	text-transform: uppercase;
	color: white;
}

.top-bar-menu div {
	padding: 8px 14px;
}

.top-bar-menu div:hover{
	background: #62a29e;
	border-radius: 10%;
	box-shadow: 0 3px 0 #528b86;
	font-size: 20px;
}

.line {
	position: absolute;
	/* max-width: 1600px; */
	width: 100%;
	height: 9px;
	background-image: url(/lesson-4-css-practice/img/line.png);
	background-repeat: repeat-x;
	bottom: 0;
}

/*
!!!------------------------------------CONTENT------------------------------------!!!
*/

.content {
    /* height: 5000px; */
	background: #f3f3f3;
}

/*
!!!------------------------------------SLIDER------------------------------------!!!
*/

.slider {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color:white;
	background-image: url(/lesson-4-css-practice/img/banner.jpg);
	background-size: cover;
	background-position: center;*/
	max-width: 2560px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.slider input {
	display: none;
}

.slider-images {
	width: 300%;
}

#slide1:checked ~ #slides .slider-images { margin-left: 0; }
#slide2:checked ~ #slides .slider-images { margin-left: -100%; }
#slide3:checked ~ #slides .slider-images { margin-left: -200%; }

.page {
	float: left;
	width: 33.33333333%;
	height: 500px;
	/* text-align: center; */
}

.page img {
	height: 100%;
	width: 100%;
}

#slider-scroll-r {
	position: absolute;
	right: 0;
}

#slider-scroll-l {
	position: absolute;
	left: 0;
}

#slider-scroll-r label,
#slider-scroll-l label {
	display: none;
}

#slide1:checked  ~ #slider-scroll-r label:nth-child(2),
#slide2:checked  ~ #slider-scroll-r label:nth-child(3),
#slide3:checked  ~ #slider-scroll-r label:nth-child(1) {
	width: 50px;
	height: 57px;
	background: #e8645a;
	box-shadow: 0 3px 0 #e2534b;
	margin-top: 220px;
	font-size: 45px;
	text-align: center;
	display: block;
	border-radius: 7% 0% 0% 7%;
	color: white;
	cursor: pointer;
}

#slide1:checked  ~ #slider-scroll-l label:nth-child(3),
#slide2:checked  ~ #slider-scroll-l label:nth-child(1),
#slide3:checked  ~ #slider-scroll-l label:nth-child(2) {
	width: 50px;
	height: 57px;
	background: #e8645a;
	box-shadow: 0 3px 0 #e2534b;
	margin-top: 220px;
	font-size: 45px;
	text-align: center;
	display: block;
	border-radius: 0% 7% 7% 0%;
	color: white;
	cursor: pointer;
}

.slider-text {
	width: 100%;
	max-width: 470px;
	height: 500px;
	margin: 0 auto;
}

.slider-text-a {
	max-width: 340px;
	text-align: center;
	margin: 0 auto;
	margin-top: 160px;
	font: normal 900 45px/1.2 Open Sans Bold, Sans-Serif;
	text-transform: uppercase;
	padding: 0px 5px;
	background: #e2534b;
	border-radius: 5px;
}

.slider-text-b {
	width: 100%;
	max-width: 470px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	padding: 12px;
	background: rgb(63, 70, 70);
	opacity: 0.7;
	border-radius: 5px;
}

.scroller {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

.scroller label {
	width: 60px;
	height: 5px;
	margin: 25px 5px;
	background-color: #b0b8b9;
	float: left;
}

.scroller label:active {
	background-color: #e2534b;
}

/*
!!!------------------------------------SERVICES------------------------------------!!!
*/

.top-services {
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1170px;
	min-height: 100px;
	background: #ececec;
	color: #7f8c8c;
}

.top-services-content h3 {
	max-width: 620px;
	margin: 10px 35px;
}

.top-services-content p {
	max-width: 620px;
	margin: 10px 35px;
	/* font: normal 400 14px/1.2 Open Sans, Sans-Serif; */
}

.red-button {
	display: flex;
	width: 200px;
	height: 52px;
	background: #e8645a;
	box-shadow: 0 3px 0 #e2534b;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin: 0px 35px;
	color: white;
	text-transform: uppercase;
}

.competences {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	width: 100%;
	min-height: 440px;
	margin: 0 auto;
}

.competences-descr {
	position:relative;
	width: 270px;
	height: 307px;
	background: #f8f8f8;
	border-radius: 5px;
	box-shadow: 0 3px 0 #e5e6e6;
	margin: 27px 0px;
	text-align: center;
}

.competences-btn {
	position: absolute;
	text-transform: lowercase;
	bottom: -27px;
	background: #76c7c0;
	box-shadow: 0 3px 0 #62b9b0;
}

.competences-btn:hover {
	background: #e8645a;
	box-shadow: 0 3px 0 #e2534b;
}

.competences-btn:hover + .competences-descr-icon {
	color: 	#e8645a;
}

.competences-descr-icon {
	font-size: 60px;
	color: #62bdbd;
	padding: 25px;
}

.competences-descr-header {
	color: #7f8c8c;
	text-transform: uppercase;
}

.competences-descr-text {
	color: #7f8c8c;
	padding: 20px;
}

/*
!!!------------------------------------ABOUT------------------------------------!!!
*/

.about {
	background: #ececec;
	height: 400px;
	width: 100%;
}

.about-line {
	height: 17px;
	background-image: url(/lesson-4-css-practice/img/line-2.png);
	margin-top: -400px;
}

.about-header {
	font: normal 700 40px/1.2 Open Sans Semibold, Sans-Serif;
	color: #e1524b;
	text-transform: uppercase;
	text-align: center;
	padding-top: 45px;
}
	
.about-text {
	color: #7f8c8c;
	text-align: center;
}

.about-image-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
	margin-top: 90px;
}

.about-back-container {
	position: relative;
	width: 370px;
	height: 260px;
	background: #c1c7c8;
	border-radius: 5px;
	margin-top: 50px;
}

.about-top-container {
	position: relative;
	width: 570px;
	height: 360px;
	background: #c1c7c8;
	border-radius: 5px;
	margin: 0% -20%;
	z-index: 800;
	
}

.about-back-container:before,
.about-top-container:before {
	position: absolute;
	content: "\f111\f111\f111";
	font-family: "FontAwesome";
	color: #ececec;
	letter-spacing: 5px;
	margin: 14px;
}

.about-back-container:after,
.about-top-container:after {
	position: absolute;
	content: "\f068";
	font-family: "FontAwesome";
	color: #ececec;
	top: 14px;
	right: 14px;
}

.about-photo-1 {
	height: 213px;
	margin: 5px;
	margin-top: 42px;
	border-radius: 5px;
	background-image: url(/lesson-4-css-practice/img/meeting.jpg);
	background-size: cover;
	background-position: center;
}

.about-photo-2 {
	height: 313px;
	margin: 5px;
	margin-top: 42px;
	border-radius: 5px;
	background-image: url(/lesson-4-css-practice/img/team.jpg);
	background-size: cover;
	background-position: center;
}

.about-photo-3 {
	background-image: url(/lesson-4-css-practice/img/time.jpg);
}

/*
!!!------------------------------------CLIENTS------------------------------------!!!
*/

.clients {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
	margin-top: 15px;
}

.clients-reviews {
	color: #7f8c8c;
	width: 270px;
}

.clients-reviews ul > li {
	display: inline-block;
	padding: 5px 0px;
}

.clients-reviews ul > li:before {
	content: "\f061";
	font-family: "FontAwesome";
	color: #e1524b;
	padding-right: 7px;
}

.clients-statistics-overview-text a {
	text-decoration: underline;
	color: #e1524b;
}

.clients-reviews-quote {
	position: relative;
	font: italic 100%/1.5 Open Sans Regular Italic;
	background: #f8f8f8;
	padding: 16px;

}

.clients-reviews-quote:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0; 
	margin-left: -200px;
	margin-top: 30px;
	border: 20px solid transparent;
	border-top: 20px solid #f8f8f8;
	border-right: 20px solid #f8f8f8;
}

.clients-statistics-overview-text {
	max-width: 560px;
	color: #7f8c8c;
	padding: 25px 0px;
}

.company-year-statistics-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 580px; /* 560px width from mockup + 10px min margin for first & last child inside*/
    margin: 20px auto;
}

.happy-clients {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 25px;
	color: #7f8c8c;
}

.clients-line {
	display: flex;
	align-items: center;
	color: #e1e2e2;
	max-width: calc(100% - 220px);
	width: 100%;
	padding: 0 10px;
	font-size: 10px;
}

hr {
	width: 100%;
	border: none;
	background-color: #e1e2e2;
	height: 1px;
}

.happy-clients-scroller {
	display: flex;
}

.happy-clients-scroller div {
	width: 18px;
	height: 18px;
	background-color: #7f8c8c;
	border-radius: 10%;
	margin-left: 10px;
	color: white;
	text-align: center;
}

.happy-clients-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
}

.happy-clients-logos > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 90px;
	background-color: #f8f8f8;
	margin-top: 50px;
	border-radius: 5%;
}



/*
!!!------------------------------------FOOTER------------------------------------!!!
*/

footer {
    width: 100%;
	bottom: 0;
}

.footer_navigation {
    padding: 35px 0;
    background-color: #76c7c0;
}

.footer_social-networks {
    height: 50px;
    background-color: #6ab3ac;
	font: normal 400 15px/1.2 Open Sans, Sans-Serif;
	color: white;
}

/*
!!!------------------------------------MEDIA-QUERIES------------------------------------!!!
*/


@media only screen and (max-width: 1000px) {
	.top-bar-logo {
		margin-left: 27px;
	}
	
	.top-services {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.about-image-box {
		flex-direction: column;
		align-items: center;
	}
	
	.clients {
		flex-direction: column;
		align-items: center;
	}
	
	.clients-statistics-overview-text {
		text-align: center;
	}
	
	.about-top-container {
		margin: -5% 0%;
	}
	
	.about-back-container-2 {
		z-index: 900;
	}
	.about-back-container {
		margin-top: 0px;
	}
	.diagrams {
		order: 1;
	}
	.clients-reviews {
		order: 2;
	}
	.happy-clients {
		order: 3;
	}
}

@media only screen and (max-width: 600px) {
	.competences {
		flex-direction: column;
		align-items: center;
	}
	#slider-scroll-r
	#slider-scroll-l {
		display: none;
	}
}
