/*Menu*/
.menu {
    position: absolute;
    right: 46px;
}

.menu li {
    margin: 10px 2px;
    float: left;
    list-style: none;
    border-radius: 5px;
    letter-spacing: 1px;
    position: relative;

}

li a {
    padding: 7px 16px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font: 400 1em/1 'OpenSans', sans-serif;

}

li.active a {
    background: rgb(98, 162, 158);
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.75);
}

.menu li:hover {
    background: rgb(232, 100, 90);

    -webkit-box-shadow: 0 3px 0 0 rgb(226, 83, 75);
    -moz-box-shadow: 0 3px 0 0 rgb(226, 83, 75);
    box-shadow: 0 3px 0 0 rgb(226, 83, 75);
}

/*Search icon*/
.fa-search {
    color: #fff;
}

li.search:hover {
    background: none;
    box-shadow: none;

}

.search a:hover .fa-search {
    color: rgb(232, 100, 90);
}

/*Menu 2nd level*/
.hot-fix-menu-down {
    padding-bottom: 25px;
}

.menu ul {
    background: rgb(226, 83, 75);
    margin-top: 15px;
    position: absolute;
    border-radius: 5px;
    left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity: 0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition: 0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */

}

.menu ul:before {
    content: "";
    position: absolute;
    left: 12px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgb(226, 83, 75);
}

.menu ul a {
    white-space: nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display: block;
}

.menu li:hover ul {
    left: 0; /* Приносим его обратно на экран, когда нужно */
    opacity: 1; /* Делаем непрозрачным */
}

.menu ul li {
    float: none;
    margin: 5px;
    background: rgb(229, 101, 93);
    border-radius: 5px;
}

.menu ul li a {
    text-transform: none;
}

.menu ul li:hover {
    background-color: rgb(118, 199, 192);
    box-shadow: none;
}

.menu ul li a:before {
    font-family: 'FontAwesome', serif;
    content: '\f105';
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-right: 5px;
    margin-left: -9px;
    opacity: 1;
}

.menu li a:before {
    font-family: 'FontAwesome', serif;
    content: '\f107';
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding-right: 5px;
    margin-left: -9px;
    opacity: 0;
}

.menu ul li a:before {
    opacity: 1;
}

/*.menu a:hover:before {*/
    /*opacity: 1;*/
/*}*/
.menu li:hover > a:before {
    opacity: 1;
}

.menu li.active {
    background: none;
    box-shadow: none;
}

.menu li.active a:before, .menu li.search a:before {
    content: '';
    padding-left: 5px;
}


