/*Statistics*/

.statistics {
    padding-top: 215px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.why-choose, .content, .what-say {
    flex: 1;
}

.content {
    flex-grow: 2;
}

.why-choose p, .what-say p {
    font-size: 16px;
    font-weight: 700;
    color: rgb(127, 140, 140);
    margin-bottom: 20px;

}

.what-say p {
    margin-bottom: 0;
    position: relative;
}

.why-choose ul li {
    line-height: 1.9;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(119, 119, 119);
}

.content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(119, 119, 119);
}

.why-choose li:before {
    font-family: 'FontAwesome', serif;
    content: '\f061';
    font-size: 12px;
    color: rgb(225, 82, 75);
    padding-right: 5px;
}

blockquote p {
    font-style: italic;
    padding: 15px;
    background-color: rgb(248, 248, 248);
    /*background-color: rgb(248, 208, 155);*/
    border-radius: 5px;
}
blockquote p:after {
    content: "";
    position: absolute;
    left: 12px;
        bottom: -24px;

    width: 0;
    height: 0;
    border-top: 24px solid rgb(248, 248, 248);
    border-left: 24px solid transparent;

 }

.what-say span {
    line-height: 1.9;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: rgb(119, 119, 119);
    padding-left: 46px;
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 24px solid rgb(248, 248, 248);
    border-left: 24px solid transparent;
    margin-left: 20px;
}

.what-say {
    position: relative;
}
