* {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(119, 119, 119);
}

h2 {
    font-size: 30px;
    font-weight: 600;
    color: rgb(127, 140, 140);
    margin-bottom: 3px;
}

h3 {
    font-size: 16px;
    font-weight: 800;
    color: rgb(127, 140, 140);
    margin-bottom: 20px;
}

p {
    line-height: 1.9;
    padding-bottom: 30px;
}

p:last-child {
    padding-bottom: 0;
}

ul {
    padding-bottom: 30px;
}

ul:last-child {
    padding-bottom: 0;
}

li {
    line-height: 1.9;
    list-style: none;
}

li:before {
    font-family: 'FontAwesome';
    content: '\f061';
    font-size: 12px;
    color: rgb(225, 82, 75);
    padding-right: 5px;
}

a {
    transition: all .3s;
}

a:hover {
    color: rgb(225, 82, 75);
}

blockquote p {
    font-style: italic;
    padding: 15px;
    background-color: rgb(248, 248, 248);
    border-radius: 3px;
}

blockquote footer {
    padding: 10px 0 0 60px;
    position: relative;
}

blockquote footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 23px 23px 0;
    border-color: transparent rgb(248, 248, 248) transparent transparent;
}

blockquote cite {
    line-height: 1.9;
    font-size: 16px;
    font-weight: 600;
}